.autocomplete {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .autocompleteItems div:hover {
    background-color: #e9e9e9;
  }
  
  .searchBox {
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid black;
    height: 100%;
    width: 100%;
  }
  .searchBox:focus {
    border-color: #0366d6;
    box-shadow: rgba(0, 153, 255, 0.979) 0px 0px 0px 2px;
    outline: none;
  }
  
  .autocompleteItems {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocompleteItems div {
    /* width: 100%; */
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocompleteItems div:focus {
    background-color: #e9e9e9;
  }
  .wrapperSearch {
    width: 50%;
    margin: 0 auto;
    height: 60%;
  }
  .fas.fa-arrow-left {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .searchBox {
      border: none;
      padding-left: 55px;
    }
  
    .searchBox:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
  