.containerSingleVideoPage {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 12px;
}

.mainContainer {
  padding-top: 1rem;
  margin: 0;
  width: 100%;
}

.nav {
  width: 80px;
  background-color: #000;
  position: fixed;
  left: 0;
  top: 4rem;
  z-index: 1;
  height: calc(100% - 4rem);
  overflow-y: auto;
}

.nav::-webkit-scrollbar {
  width: 2px;
}

.nav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.nav::-webkit-scrollbar-thumb {
  background-color: var(--kaali-danger);
  outline: 1px solid var(--kaali-danger);
}

.navbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12px;
}

.wrapperContainer {
  display: flex;
  margin-left: 80px;
  align-items: flex-start;
}

.wrapperLogo {
  width: 48px;
  height: 48px;
  margin-left: 1rem;
}

.wrapperSearch {
  width: 50%;
  margin: 0 auto;
  height: 60%;
}

/* .mobileNavContainer {
    position: fixed;
    bottom: 0;
    display: none;
    background-color: var(--tube-theme-background);
  } */

.sideNav {
  width: 100%;
  height: 100%;
  background-color: var(--tube-theme-background);
  color: white;
  position: relative;
  overflow-y: auto;
  display: none;
}

.iconClose {
  position: absolute;
  right: 10px;
  top: 20px;
  color: var(--tube-theme-error);
}

.userProfileWrapper {
  margin-top: 2rem;
}

.getPremimumMobileWrapper {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 4rem;

}

.sideNavItemsWrapper {
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
}

.btnGetPremium {
  background-image: linear-gradient(317deg, #7f53ac 0%, #647dee 74%);
  width: 100%;
  height: 48px;
  color: white;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburgerMenu {
  display: none;
}

.sidebarStyle {
  display: none;
}

.btnTrash {
  padding: 2px;
  color: inherit;
  background-color: transparent;
}

.btnTrash:focus {
  background-color: var(--tube-theme-error);
  color: white;
}

.iconButton {
  background: transparent;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  border-radius: 50%;
  height: 48px;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}

.iconButton:hover,
.iconButton:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid transparent;
}

.inputStyle {
  background-color: rgb(49, 49, 56);
  outline: 1px solid transparent;
  border: 1px solid transparent;
  caret-color: rgb(76, 76, 255);
  color: white;
}

.inputStyle:focus {
  border: 1px solid rgb(76, 76, 255);
}

@media (max-width: 860px) {
  .sidebarStyle {
    display: block;
  }

  .sideNav {
    display: flex;
  }

  .hamburgerMenu {
    display: block;
  }

  .containerSingleVideoPage {
    margin-bottom: 5rem;
  }

  .wrapperContainer {
    flex-wrap: wrap;
    margin: 0;
  }

  .nav {
    display: none;
  }

  /* .mobileNavContainer {
      display: flex;
    } */
  .wrapperLogo {
    display: none;
  }

  .wrapperSearch {
    width: 70%;
  }

}

